<div class="card">

    <div class="card-content">
		<div class="quiz-area" ng-show="inProgress">
			<div ng-show="!quizOver">
		       	<span id="item-count" class="left">Question # {{ items }} / {{ maxItems }}</span>
		       	<a href="index.html" class="left" id="leave">(Leave Quiz)</a>
		        <span id="score" class="right">&#9733; Score: {{score}}</span>
				<h2 id="question">{{question}}</h2>
				<ul id="options">
					<li ng-repeat="option in options">
						<input type="radio" name="answer" value="{{option}}" id="{{option}}" />
					    <label for="{{ option }}">{{ option }}</label>
					</li>
				</ul>
				
				<div ng-show="!answerMode">
					<img class="quiz-eval" ng-show="correctAns" src="../../img/quizzes/answer_correct.png">
					<img class="quiz-eval" ng-show="!correctAns" src="../../img/quizzes/answer_wrong.png">
					<button ng-click="nextQuestion()" class="next-question btn">Next</button>
				</div>
		        <button ng-click="checkAnswer()" ng-show="answerMode" class="btn" id="submit-answer">Submit</button>
			</div>

			<div class="over" ng-show="quizOver">
				<h2>Congratulations! You've finished the quiz!</h2>
				<p class="score">&#9733; {{score}} / {{ items }}</p>
				<a href="index.html" class="btn-large back">Back to Quiz Directory</a>
			</div>
		</div>

		<div class="intro" ng-show="!inProgress">
			<p class="title">Quiz - {{ lesson }}</p>
			<button id="startQuiz" ng-click="start()" class="btn-large waves-effect center-align">Start the Quiz</button>
		</div>
    </div>  
</div>